:root {
  --color1: 55, 200, 113;
  --circle-size: 90%;
}

@keyframes moveInCircle {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.gradient-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgb(1, 15, 6);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;

  // Adding the grainy effect
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../assets/grain.png");
    opacity: 0.1;
    pointer-events: none;
  }

  .gradients-container {
    filter: blur(40px);
    width: 100%;
    height: 100%;
  }

  .g1 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color1), 0.8) 0,
        rgba(var(--color1), 0) 50%
      )
      no-repeat;

    width: var(--circle-size);
    height: var(--circle-size);
    left: 40%;
    transform-origin: calc(50% - 200px);
    animation: moveInCircle 40s reverse infinite;
    opacity: 0.4;
  }

  .g2 {
    position: absolute;
    background: radial-gradient(
        circle at center,
        rgba(var(--color1), 0.8) 0,
        rgba(var(--color1), 0) 50%
      )
      no-repeat;
    mix-blend-mode: var(--blending);

    width: var(--circle-size);
    height: var(--circle-size);
    top: 20%;
    right: 40%;
    transform-origin: calc(50% - 100px);
    animation: moveInCircle 40s linear infinite;
    opacity: 0.4;
  }
}
