:root {
  --color-highlight: #3078e5;
}

.btn {
  position: relative;
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 10px 36px;
  border: 1px solid;
  border-color: transparent;
  font-size: 14px;
  background-color: inherit;
  border-radius: 70px;
  font-weight: 600;
  color: var(--color-highlight);
  box-shadow: 0 0 0 2px var(--color-highlight);
  cursor: pointer;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.btn svg {
  position: absolute;
  width: 24px;
  fill: var(--color-highlight);
  z-index: 9;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.btn .arr-1 {
  right: 16px;
}

.btn .arr-2 {
  left: -25%;
}

.btn .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 20px;
  height: 20px;
  background-color: var(--color-highlight);
  border-radius: 50%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.btn .text {
  position: relative;
  z-index: 1;
  transform: translateX(-12px);
  transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.btn:hover {
  box-shadow: 0 0 0 12px transparent;
  color: white;
  border-radius: 12px;
}

.btn:hover .arr-1 {
  right: -25%;
}

.btn:hover .arr-2 {
  left: 16px;
}

.btn:hover .text {
  transform: translateX(12px);
}

.btn:hover svg {
  fill: #ffffff;
}

.btn:active {
  scale: 0.95;
  box-shadow: 0 0 0 4px var(--color-highlight);
}

.btn:hover .circle {
  width: 220px;
  height: 220px;
  opacity: 1;
}
